body{
  background-color:#fff5e7;
  height: 100vh;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
.container{
  margin:0px;
  padding:50px 100px;
  text-align: center;
  background-image: url("../img/leaves.png");
  background-repeat: repeat;
  position: relative;
}
.pig{
  max-width:300px;
  position: absolute;
  right:20px;
  bottom:0;
}
#max-price{
  font-size: 10em;
  font-weight: 700;
}
#best-island{
  font-size: 1.5em;

}

.form{
  max-width:400px;
  margin:auto;
  padding: 20px;
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
  margin-top:40px;
}
.question{
  padding:8px;;
}
.ranking{
  padding:50px;
  padding-bottom: 100px;
  text-align: center;
}
.rank-title{
  font-size: 1.5em;
}
input{
margin:8px;
width:200px;
height:24px;
border-radius: 4px;
font-size:1em;
font-family: 'Quicksand', sans-serif;
padding: 4px 8px 4px 8px;
}

#myBtn{
  width:150px;
  height:40px;
  border-radius: 8px;
  background: #dc9534;
  color:#85300b;
  font-weight: 700;
  font-size: 1em;
}
#myBtn:active {
  background: #af7629;
} 

#myBtn:hover{
  cursor: pointer;
  background: #c78830;
}
#expiration{
  font-size: 1.5em;
  margin:12px;
}
.table{
  width:50%;
  margin:auto;
  margin-top:40px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #max-price{
      font-size: 5em;
  }
  .container{
      margin:0px;
      padding:8px;
      padding-top:24px;
      padding-bottom:24px;
  }
  .form{
      width:90%;
      padding: 8px ;
      margin-top:16px;
  }
  .pig{
      visibility: hidden;
  }
  .ranking{
      padding:8px;
      padding-top: 24px;
      padding-bottom: 100px;
      text-align: center;
  }
  .table{
      width:90%;
      margin:auto;
      margin-top:24px;
  }
  #myBtn{
      width:200px;
      height:40px;
      border-radius: 8px;
      font-size: 1em;
  }
}

@media only screen and (max-width: 960px) {
  .pig{
      visibility: hidden;
  }
}